body {
  background-color: #111;
  color: #aaa;
}

#app {
  display: flex;
  align-items: flex-start;
  font: 1em Arial, Helvetica, sans-serif;
}

.rb-main-container {
  margin: 1em;
}

.rb-title {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
}

.rb-content-container {
  display: flex;
  align-items: flex-start;
}

.rb-col {
  flex: 0 0 auto;
  border: 0.2em ridge #222;
  margin: 0 0.15em;
  background-color: #141414;
}

.rb-col__header_text {
  padding: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  color: #888;
}
.rb-col__header_icon {
  padding: 0.5em;
  max-width: 2em;
}

.rb-econ {

}

.rb-econ__bldgs {
  display: flex;
  flex-direction: column;
}

.rb-econ__bldg {
  
}


.rb-econ__bldg-data {
  padding: 0.5em !important;
}


.rb-econ__bldg-ul {
  display: flex;
  flex-direction: column;
}

.rb-econ__bldg-li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.4em;
}

.rb-econ__bldg-li-label {
  margin: 0 0.5em 0 0;
}

.rb-econ__bldg-li-controls {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}

.rb-econ__button {
  width: 1.2em;
  filter: brightness(80%)
}

.rb-econ__arrow-button {
  font-size: 0.8em;
  margin: 0 0.2em;
}

.rb-econ__arrow-button:hover {
  background-color: #555;
}

.rb-econ__amount-text {
  color: #ccc;
  background-color: #111;
  border: 0.04em inset #222;
  padding: 0.1em 0.2em 0;
}

.rb-econ__button:hover {
  background-color: #555;
}

.rb-col__selector {
  display: flex;
  border-bottom: 0.3em ridge #222;
  padding: 0 0 0.01em 0.06em;
  margin-left: -0.1em;
}

.rb-col__selector-button {
  border: 0.1em outset #222;
  background-color: #181818;
  padding: 0.2em 0.4em;
  color: #aaa;
  font-size: 0.9em;
  font-weight: 600;
}

.rb-col__selector-buton--active {
  border: 0.1em outset #282828;
  border-bottom: 0.15em solid #222;
  margin-bottom: -0.05em;
  background-color: #222;
}

.rb-col__ent-list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-top: -0.05em;
}



.rb-ent {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5em;
  justify-content: flex-start;
  background-color: #181818;
  border: 0.1em outset #222;
  padding: 0.2em;
}

.rb-ent__build-button {
  position: absolute;
  top: 0.4em;
  left: 0.4em;
  width: 1.6em;
  opacity: 0.3;
}

.rb-ent__build-button:hover {
  background-color: #fff4;
  opacity: 1;
}

.rb-ent__col {
}

.rb-ent__icon-col {
  padding: 0 0.2em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
  justify-content: flex-end;
  min-width: 7em;
}


.rb-ent__data-col {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  background-color: #171717;
  border: 0.04em inset #222;
  padding: 0.2em;
}

.rb-ent__iv-col {
  display: flex;
  flex-direction: column;
  padding: 0 0.2em;
}


.rb-ent__icon {
  max-width: 4em;
  max-height: 4em;
}

.rb-ent__name {
  white-space: nowrap;
  font-size: 0.8em;
  color: #777;
  font-weight: bold;
}

.rb-ent__selector {
  display: flex;
  justify-content: center;
  padding: 0.1em;
}

.rb-ent__button {
  background-color: #666;
  height: 0.7em;
  width: 0.7em;
  margin: 0.18em;
  border: 0.1em solid #111;
}

.rb-ent__button--active {
  background-color: #bb4;
}


.rb-ent__row {
  display: flex;
  height: 4em;
}

.rb-ent__spacer {
  flex: 1 1 auto;
}


.iv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 auto;
}

.rb-iv-icon {
  height: 1em;
}

.rb-icon {

}

.iv-text {
  font-weight: bold;
  font-size: 0.9em;
  min-width: 3em;
  text-align: right;
}

.ivc {
  display: flex;
  flex-flow: column;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
